/* 
    Created on : Sep 27, 2022, 7:14:39 PM
    Author     : elena
*/
/*Position, desplazar o mover nuestros contenedores (cajas)*/

.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 20px solid blue;
    box-sizing: border-box;
}

.static{
    position: static;
    border: 3px solid green;
    top: 400px;
    left: 500px;
}

.relative{
    position: relative;
    border: 3px solid lightsalmon;
    top: 400px;
    left: 500px;
    width: 200px;
    height: 200px;
}

.absolute{
    position: absolute;
    border: 3px solid red;
    top: 200px;
    left: 100px;
}

.fixed{
    position: fixed;
    border: 3px solid red;
    top: 150px;
    left: 100px;
}